
.firstcss .head{
font-size: 30px;
font-weight: 500;
color:rgb(255, 208, 0) 

}

.firstcss .foot{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:rgb(226, 43, 43)}


